@model Library.Models.PagedBookListViewModel
<hr />
@Html.ActionLink("Add new book", "Add")
<div style="overflow:auto; padding-top:50px">
    @foreach (var p in Model.Books)
    {
        <div class="col-md-2">
            @if (p.Image.Length > 0)
            {
                <div>
                    <img class="smallImage" src="@Url.Action("GetImage", "Book",
 new { p.ISBN })" />
                </div>
            }
            <h3>@p.Name</h3>
            @if (p.Author.Contains(","))
            {
                @p.Author.Substring(0, p.Author.IndexOf(','))
            }
            else
            {
                @p.Author
            }
            <p>
                @Html.ActionLink("Edit", "Edit", new { isbn = p.ISBN })
                @Html.ActionLink("Details", "Details", new { isbn = p.ISBN })
                @Html.ActionLink("Delete", "Delete", new { isbn = p.ISBN },
    new { onclick = "return confirm('Are you sure you wish to delete this book?');" })
                
            </p>
        </div>
    }
    </div>
<div>
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", "Book", new { page = x }))
</div>