@model Library.Models.PagedBookListViewModel

<hr />
@using(Html.BeginForm("Index","Home")){
 @Html.DropDownList("Sort", new List<SelectListItem> { new SelectListItem{ Value="Name", Text="Name"},
    new SelectListItem{ Value="Author", Text="Author"},
    new SelectListItem{ Value="Publisher", Text="Publisher"},
    new SelectListItem{ Value="PublishDate", Text="Publish date"}})
@Html.DropDownList("SortType", new List<SelectListItem> { new SelectListItem{ Value="Asc", Text="Ascending"},
    new SelectListItem{ Value="Desc", Text="Descending"}})
<button class="mybutton" type="submit">Sort</button>
}
<div class="row" style="overflow:auto; padding-top:50px">
    @foreach (var p in Model.Books)
    {
        <div class="col-md-2" style="height:350px">
            @if (p.Image.Length > 0)
            {
                <div>
                    <img class="smallImage" src="@Url.Action("GetImage", "Home",
 new { p.ISBN })" />
                </div>
            }
            <h3>
                @if (p.Name.Contains(":")) { 
                    @p.Name.Substring(0,p.Name.IndexOf(":"))
                }
                else
                {
                    @p.Name
                }
            </h3>
            @if (p.Author.Contains(","))
            {
                @p.Author.Substring(0, p.Author.IndexOf(','))
            }
            else
            {
                @p.Author
            }
            <p>
                @Html.ActionLink("Details", "Details", new { isbn = p.ISBN })
            </p>
        </div>
    
    }

</div>
<div>
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", "Home", new { page = x }))
</div>
