@model Library.Models.PagedBookListViewModel

<hr />
<div class="row" style="overflow:auto; padding-top:50px">
    @foreach (var p in Model.Books)
    {
        <div class="col-md-2" style="height:350px">
            @if (p.Image.Length > 0)
            {
                <div>
                    <img class="smallImage" src="@Url.Action("GetImage", "Home",
 new { p.ISBN })" />
                </div>
            }
            <h3>
                @if (p.Name.Contains(":"))
                {
                    @p.Name.Substring(0, p.Name.IndexOf(":"))
                }
                else
                {
                    @p.Name
                }
            </h3>
            @if (p.Author.Contains(","))
            {
                @p.Author.Substring(0, p.Author.IndexOf(','))
            }
            else
            {
                @p.Author
            }
            <p>
                @if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("Edit", "Edit", "Book", new { area = "Admin", isbn = p.ISBN }, null)
                    @Html.ActionLink("Details", "Details", "Book", new { area = "Admin", isbn = p.ISBN }, null)
                    @Html.ActionLink("Delete", "Delete", "Book", new { area = "Admin", isbn = p.ISBN },
    new { onclick = "return confirm('Are you sure you wish to delete this book?');" })
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { isbn = p.ISBN })
                }
            </p>
        </div>

    }
</div>
<div>
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", "Home", new { page = x }))
</div>